@page
@model RazorPagesWeb.NetCore.EF.Demo.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment Slots page";
}

<div class="text-center">
    <h1 class="display-4">
        Testign Deployment Slots
    </h1>
    <h3>
        Validating the deployment slot feature
    </h3>
</div>