@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome To Azure App Services - Github Actions In Effect
    </h1>

</div>
